In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('camera_tracking.csv')
df.head()

,Timestamp,Frame,X_min,Y_min,X_max,Y_max,Confidence,area,X,Y,Z_est,Distance_3D,Distance_RealSense
0,2025-04-08 22:28:46.125,1,134,57,624,479,0.96,206780,59,-28,0.55,65.31,0.0
1,2025-04-08 22:28:46.125,1,579,302,639,479,0.82,10620,289,-150,2.79,325.62,0.0
2,2025-04-08 22:28:46.749,2,134,57,622,479,0.96,205936,58,-28,0.55,64.41,0.0
3,2025-04-08 22:28:46.749,2,576,302,639,479,0.83,11151,287,-150,2.69,323.85,0.0
4,2025-04-08 22:28:47.254,3,135,57,621,479,0.96,205092,58,-28,0.55,64.41,0.0

In [5]:
df1 = pd.read_csv('realsense_detections3500.csv')
df1.head()

,Timestamp,Frame,X_min,Y_min,X_max,Y_max,Confidence,Average_Depth_m,area
0,2025-04-08 16:18:00.799,2,240,0,441,119,0.97,3.924,23919
1,2025-04-08 16:18:01.594,3,241,0,441,119,0.97,3.931,23800
2,2025-04-08 16:18:02.289,4,241,0,441,119,0.97,3.921,23800
3,2025-04-08 16:18:02.901,5,240,0,442,120,0.97,3.922,24240
4,2025-04-08 16:18:03.559,6,241,0,441,119,0.97,3.946,23800